<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="table-responsive">


        <!-- Ponerlo en modo oscuro -->
        <!-- <table class="table table-dark"> -->
        <!-- Ponerlo en modo zebra -->
        <!-- <table class="table table-striped"> -->
    
        <!-- Poner las rayas de las filas y celdas -->
        <!-- <table class="table table-bordered"> -->
    
        <!-- Habilitar el estado de desplazamiento para las filas -->
        <!-- <table class="table table-hover"> -->
    
        <!--Reducir el tamaño de la tabla para los celulares  -->
        <table class="table table-sm">
    
        <!-- <table class="table"> -->
            
    
            <!-- Ponerlo en modo oscuro -->
            <!-- <thead class="table-dark"> -->
            <thead >
                <tr>
    
                    <th scope="col">#</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Modelo</th>
                    <th scope="col" class="text-center">Año</th>
                    <th scope="col" class="text-right">Precio</th>
                </tr>
            </thead>
            <tbody>
    
                <!-- Resaltar la fila completamente  -->
                <!-- <tr class="table-primary"> -->
                <tr >
                
                
                    <td scope="row">1</td>
                    <td>Nissan</td>
                    <td>Qasqai</td>
                    <td class="text-center">2017</td>
                    <td class="text-right">18.560€</td>
                </tr>
                <tr>
    
                    <!-- Resaltar la columna especifica  -->
                    <!-- <td scope="row" class="table-primary">2</td> -->
                    <td scope="row">2</td>
                    <td>Seat</td>
                    <td>Ibiza</td>
                    <td class="text-center">2005</td>
                    <td class="text-right">4.500€</td>
                </tr>
                <tr>
                    <td scope="row">3</td>
                    <td>Citroen</td>
                    <td>Saxo</td>
                    <td class="text-center">2001</td>
                    <td class="text-right">1.850€</td>
                </tr>
            </tbody>
    
            <tfootc>
            <!-- <tfootc class="table-dark"> -->
                <tr>
                    <td colspan="4"><strong>Total</strong></td>
                    <td class="text-right"><strong>24.910€</strong></td>
                </tr>
            </tfootc>
        </table>
    </div>

    <!-- https://getbootstrap.com/docs/4.0/content/tables/ -->
    <!-- Colores de background para las filas o columnas -->
    <!-- <tr class="table-active">...</tr>

    <tr class="table-primary">...</tr>
    <tr class="table-secondary">...</tr>
    <tr class="table-success">...</tr>
    <tr class="table-danger">...</tr>
    <tr class="table-warning">...</tr>
    <tr class="table-info">...</tr>
    <tr class="table-light">...</tr>
    <tr class="table-dark">...</tr>


    <tr>
    <td class="table-active">...</td>
    
    <td class="table-primary">...</td>
    <td class="table-secondary">...</td>
    <td class="table-success">...</td>
    <td class="table-danger">...</td>
    <td class="table-warning">...</td>
    <td class="table-info">...</td>
    <td class="table-light">...</td>
    <td class="table-dark">...</td>
    </tr> -->


    
</body>
</html>