{% extends "proveedorApp/base.html" %}

<!-- Volvemos a cargar porque hay imagenes y partes que necesitan de los statics  -->
{% load static %}



{% block style %}

<!-- Template Main CSS File -->
<link href="{% static 'proveedorApp/NuevoCss/style.css' %}" rel="stylesheet">

{% endblock %}



{% block content %}


<section id="about-video" class="about-video">
    <div class="container" data-aos="fade-up">

        <div class="row">

            <!-- Poner el Formulario -->
            <div class="col-lg-6 video-box align-self-baseline" data-aos="fade-right" data-aos-delay="100">
                <!-- Video Puesto -->
                <!-- <img src="{% static 'proveedorApp/img/about-video.jpg' %}" class="img-fluid" alt="">
                <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-3" data-vbtype="video" data-autoplay="true"></a> -->
                <div class="container">
                    <h2>Registrar un Proveedor</h2>
                    <form class="form-horizontal" action="/proveedor" method="POST"> {% csrf_token %}
                        <br>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Nombre:</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Ingrese Nombre del proveedor"
                                    name="nombre" maxlength="15" required>
                            </div>
                        </div>

                        <br>
                        <div class="form-group">
                            <!-- Boton no Centrado -->
                            <!-- <div class="col-sm-offset-2 col-sm-10"> -->

                            <!-- Boton centrado -->
                            <div class="col-sm-offset-2 col-sm-10- text-center">
                                <button type="submit" class="btn btn-primary">Crear Proveedor</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

            <!-- Texto -->
            <div class="col-lg-6 pt-3 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
                <h3>Pestaña de Registro de Proveedor</h3>
                <p class="font-italic">
                    El proveedor se registrara por nombre con máximo de 15 caracteres, este se le podra asignar:
                </p>
                <ul>
                    <li><i class="bx bx-check-double"></i> Grupos de Zapatillas. </li>
                    <li><i class="bx bx-check-double"></i> Las boletas para el grupo de zapatillas </li>
                </ul>
                <p>
                    Si desea ver los proveedores registrados solo debe desplazarse hacia abajo donde aparecen todo los proveedores con la posibilidad de editar su nombre y/o eliminarlo si asi lo desea.
                </p>
            </div>

        </div>

    </div>
</section><!-- End About Video Section -->





<!-- Pruebas de tarjetas -->
<section id="hero" class="d-flex align-items-center">

<div>
    <!-- Tarjetas blancas del inicio-->
    <div class="row icon-boxes"> 

        <!-- Nombre de los proveedores -->

        {% for proveedor in proveedores %}
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
                <!-- https://remixicon.com/  Iconos fachas -->
                <div class="icon"><i class="ri-user-line"></i></div>
                <h4 class="title"><a>{{ proveedor.nombre }}</a></h4>

                <p class="description"> Grupos de Zapatillas : {{proveedor.amount_grupos}} </p>
                
                <br>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="{% url 'EditarProveedor' proveedor.id %}" class="btn btn-secondary btn-lg" role="button" aria-disabled="true">Editar</a>

                    <a href="{% url 'EliminarProveedor' proveedor.id %}" class="btn btn-danger btn-lg" role="button" aria-disabled="true">Eliminar</a>
                </div>
                
            </div>
        </div>
        {% endfor %}



        
    </div>
    
</div>
    
</section>




{% endblock %}